body {
    margin:0;
}

div#nav ul{
    padding-left: 0;
}

.container{
    padding: 0px;
} 

.item{
    padding-top: 200px;
    margin-top:-200px;
}
/*
#banner,#nav,#content,#information,#footer{
    padding: 10px;
}
*/


#wrapper {
    width: 600px;
    margin: 0 auto;
}

#banner {
    background-color: rgba(200, 200, 200, 0.5);
    ;
    width: 600px;
    height: 200px;
    clear: both;
    position: fixed;
}

#nav {
    background-color: aliceblue;
    width: 200px;
    height: 400px;
    position: fixed;
    margin-top: 200px;
    margin-left: -200px;
    /* 留空間   */
}

#nav li{
    display:block;
    background-color: coral;
    padding: 2px;
    margin-top: 5px;  
}

#nav li a{ text-decoration:none}

#nav li:hover{
    background-color: bisque;
    
}

#nav li a:hover{
    color:black;
}
#content {
    width: 500px;
    height:800px;
    float: left;
    margin-top: 200px;
 

}
div.img {
    margin: 5px;
    padding: 5px;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.img img {
    display: inline;
    margin: 5px;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    /*    transform: translate(-50%, -50%);*/
    border: 1px solid #ffffff;
    object-fit: cover;
}

div.img a:hover img {
    border: 1px solid darkgray;
}

div.img a {
    text-decoration: none;
}


#inforamtion {
    background-color: beige;
    width: 100px;
    height: 800px;
    float: left;
    margin-top: 200px;
}

#footer {
    background-color: aquamarine;
    width: 600px;
    height: 100px;
    float: left;
}